<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email and set your password through the link below:</p>


<p><%= link_to 'Confirm my account', 
              "http://localhost:3000/users/confirmation?confirmation_token=#{@token};reset_password_token=#{@reset_password_token}" %>
</p>
